:global(main) {
  margin: 0;
  padding: 0;
}
:global(body) {
  padding: 0;
}

ul {
  margin: 0;
}

p {
  margin-left: 2em;
  color: black;
}

img {
  width: 100%;
}

.description {
  margin: 0;
}

h2 {
  padding: 2em;
  padding-left: 0;
  position: relative;
}
